p {
    font-style: normal;
    font-weight: 100;
    font-family: calibri;
    font-size: 20px;
}
.tropical {
    font-family: fantasy;
    color: aquamarine;
}
.popular {
    font-family: Tahoma;
    color: green;
}